<% include ./partials/header %>

<!-- CONTENT -->
  <div class = "container centered" id="forum">
    <h1 class="">MECH 215: Introduction to C++</h1>
    <p class="grey"><em>If you have off-topic questions, please email me at <a id="email-link" href="jamiel.nr@gmail.com">jamiel.nr@gmail.com</a></em></p>

    <table class="table table-striped table-dark" id="thread-box">
      <thead class="thead-light"></thead>
        <tr class="not-red">
          <th>Title</th>
          <th>Author</th>
          <th>Responses</th>
          <th>Date</th>
        </tr>
      <tbody>

        <% for (var i = 0; i < threads.length; i++) {%>
        <% var date = new Date(threads[i].timestamp);%>
        
          <tr class="list-item">
            <td class="list-title"><a class="thread-link" href=<%="/post/" + threads[i]._id%> ><%= threads[i].title %>
            </a></td>
            <td class="list-author"><%= threads[i].author %></td>
            <td class="list-resp"><%= threads[i].responses %></td>
            <td class="list-date"><%= date.toDateString() %></td>    
               
          </tr>
        

        <%}%>

      </tbody>
    </table>

  </div>
  

  <!-- SCRIPTS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/js/lib/jquery-3.3.1.min.js"><\/script>')</script>
  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  

<% include ./partials/footer %>

