<% include ./partials/header %>
<link rel="stylesheet" type="text/css" href="/css/thread.css">

<div id="metadata" thread-id=<%=priority[0].thread[0]._id%>> </div>

<div class = "container" id="thread-container">
	<h1 id="thread-title"><%=title%></h1>

	<div class = "post-box increment-0 initial" id=<%=priority[0]._id%>>
		<div class = "post-details">
			<% var date0 = new Date(priority[0].timestamp)%>
			<p><span class="post-author"><%=priority[0].author%></span> <span class="post-date"><%=date0.toUTCString();%></span></p>
		</div>
		<hr>
		<div class = "post-body">
			<%- priority[0].body %>
		</div>
		<button class="post-btn btn btn-outline-dark btn-sm permalink">Permalink</button>
		<button class="post-btn btn btn-dark btn-sm reply">Reply</button>
	</div>

	<div id=<%="reply-" + priority[0]._id %> class="increment-0"></div>

	<% for (var i=1; i < priority.length; i++) {%>
	<% var date = new Date(priority[i].timestamp) %>
	<% var depth = 10;%>
	<% if (priority[i].depth < 10) depth = priority[i].depth%>

		<div class="<%='increment-' + depth + ' post-box'%>" parent=<%=priority[i].parent[0]%> id=<%=priority[i]._id%>>
			<div class = "post-details">
				<p><span class="post-author"><%=priority[i].author%></span> <span class="post-date"><%=date.toUTCString();%></span></p>
			</div>
			<hr>
			<div class = "post-body">
			<%-priority[i].body%>
			</div>
			<button class="post-btn btn btn-outline-dark btn-sm permalink">Permalink</button>
			<button class="post-btn btn btn-outline-dark btn-sm parent">Parent</button>
			<button class="post-btn btn btn-dark btn-sm reply">Reply</button>
			<button class="post-btn btn btn-outline-primary btn-sm edit">Edit</button>
			<button class="post-btn btn btn-outline-danger btn-sm delete">Delete</button>
			<button class="post-btn btn btn-outline-danger btn-sm cancel" hidden>Cancel</button>
			<button class="post-btn btn btn-danger btn-sm you-sure" hidden>You Sure?</button>
		</div>
		<div id=<%="reply-" + priority[i]._id%> class=<%="increment-" + depth%>> </div>
	<%}%>
	

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<script src="/js/quillconfig.js"></script>
<script type="text/javascript" src="/js/thread.js"></script>
<% include ./partials/footer %>
